{
  "extends": "cleanjs",
  "parser": "eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "jest": false,
    "jasmine": false
  },
  "plugins": [
    "typescript",
    "no-async-without-await"
  ],
  "rules": {
    "max-len": [
      2,
      120
    ],
    "prefer-arrow-callback": 0,
    "arrow-parens": [
      2,
      "always"
    ],
    "no-async-without-await/no-async-without-await": 2
  }
}